// COLORS VARIABLES
$color-neon-yellow: #e2f734;
$color-orange: #ffa500;
$color-dark-blue: #011627;
$color-dark-grey: #35383b;
$color-magenta: #ff00ff;

$color-white: #ffffff;
$color-black: #000000;

// Mixins
@mixin flex-center($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}
