.input {
	color: $color-white;
	text-align: center;
	line-height: 2;

	&__container {
		width: 45rem;
		margin: 0 auto;
		position: relative;
	}

	&__label {
		display: block;
		color: $color-orange;
		font-size: 1.6rem;
	}

	&__form {
		padding-bottom: 4rem;
	}

	&__search-box {
		width: 100%;
		height: 4rem;
		font-size: 1.6rem;
		margin: 3rem 1rem 0 0;
		padding-left: 1rem;
		border-radius: 10rem;
		font-weight: bold;
		outline: none;

		@media (max-width: 31.25em) {
			width: 45rem;
			font-size: 2.2rem;
		}
	}

	&__search-icon {
		width: 3.5rem;
		height: 3.5rem;
		fill: $color-orange;
	}

	&__submit-button {
		background: transparent;
		outline: none;
		border: none;
		position: absolute;
		top: 3.2rem;
		right: -5rem;
		cursor: pointer;
	}

	&__search-text {
		padding-top: 2rem;
		font-size: 1.8rem;
	}

	&__span {
		color: $color-magenta;
	}

	&__search-text,
	&__label {
		@media (max-width: 31.25em) {
			font-size: 2rem;
		}
	}
}
