// COLORS VARIABLES
$color-neon-yellow: #E2F734;
$color-orange: #FFA500;
$color-dark-blue: #011627;
$color-dark-grey: #35383b;
$color-magenta: #FF00FF;

$color-white: #FFFFFF;
$color-black: #000000;


// Mixins 
@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


